<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.idevtools.mapper.MessageTMapper" >
  <resultMap id="BaseResultMap" type="cn.idevtools.po.MessageT" >
    <id column="msg_id" property="msgId" jdbcType="INTEGER" />
    <result column="reply_id" property="replyId" jdbcType="INTEGER" />
    <result column="sender_id" property="senderId" jdbcType="INTEGER" />
    <result column="sender_name" property="senderName" jdbcType="VARCHAR" />
    <result column="receiver_id" property="receiverId" jdbcType="INTEGER" />
    <result column="receiver_name" property="receiverName" jdbcType="VARCHAR" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="msg_type" property="msgType" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="read" property="read" jdbcType="TINYINT" />
  </resultMap>

  <sql id="Base_Column_List" >
    msg_id, reply_id, sender_id, sender_name, receiver_id, receiver_name, content, msg_type, 
    send_time, read
  </sql>
</mapper>
