<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.idevtools.mapper.ToolTMapper" >
  <resultMap id="BaseResultMap" type="cn.idevtools.po.ToolT" >
    <id column="tool_id" property="toolId" jdbcType="INTEGER" />
    <result column="tool_name" property="toolName" jdbcType="VARCHAR" />
    <result column="tool_version" property="toolVersion" jdbcType="VARCHAR" />
    <result column="code_name" property="codeName" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="website" property="website" jdbcType="VARCHAR" />
    <result column="download_links" property="downloadLinks" jdbcType="VARCHAR" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_updated_by" property="lastUpdatedBy" jdbcType="VARCHAR" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="version_number" property="versionNumber" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    tool_id, tool_name, tool_version, code_name, description, website, download_links, 
    created_by, create_time, last_updated_by, last_update_time, version_number
  </sql>
</mapper>
