<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.idevtools.mapper.UserTagTMapper" >
  <resultMap id="BaseResultMap" type="cn.idevtools.po.UserTagT" >
    <id column="tag_id" property="tagId" jdbcType="INTEGER" />
    <result column="parent_tag_id" property="parentTagId" jdbcType="INTEGER" />
    <result column="tag_code" property="tagCode" jdbcType="VARCHAR" />
    <result column="tag_meaning" property="tagMeaning" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    tag_id, parent_tag_id, tag_code, tag_meaning, description
  </sql>

  <!--插入标签(tagCode不得重复)-->
  <insert id="insertUserTag">
    insert into user_tag_t(parent_tag_id,tag_code,tag_meaning,description)
    select #{parentTagId},#{tagCode},#{tagMeaning},#{description}
    from DUAL
    where not exists
    (select tag_id
    from user_tag_t
    where tag_code=#{tagCode})
  </insert>

  <!--根据标签id删除标签-->
  <delete id="deleteUserTagById">
    delete from user_tag_t
    where tag_id=#{tagId}
  </delete>
</mapper>
